.main-container {
	padding: 2.89017341vh 6.4vw 0vh 6.4vw;
	font-size: 10px;
}

@font-face {
	font-family: Manrope;
	src: url('~@/static/font/Manrope-VariableFont_wght.ttf');
}

@font-face {
	font-family: Urbanist;
	src: url('~@/static/font/Urbanist-VariableFont_wght.ttf');
}

@font-face {
	font-family: Avenir;
	src: url('~@/static/font/Avenir Regular.ttf');
}


.title-text-24 {
	font-family: Avenir;
	font-size: 6.4vw;
	font-weight: 800;
	line-height: 5.2vh;
}

.next-button-text-20 {
	font-family: Avenir;
	font-size: 1.1em;
	color: white;
	font-weight: 800;
	line-height: 1.3em;
}

/* 375 * 86 + 375 * 692 + 375 * 34 */